*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(../img/background.jpg) repeat-x;
    font-family: 'Tahoma',  'Arial', 'sans-serif';
}

.container{
    width: 1000px;
    height: 990px;
    margin: 38px auto 18px;
    background: #fff;
    -webkit-box-shadow: 0px 5px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 3px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 3px 1px rgba(0,0,0,0.75);  
    overflow: hidden;
    position: relative;
}

.logo{
    display: block;
    margin-left: 28px;
    margin-top: 12px;
    width: 283px;
}

.logoText{
    font-size: 14px;
    color: #128aa7;
    position: absolute;
    left: 90px;
    top: 105px;
}

.contacts{
    color: #128aa7;
    float: right;
    font-size: 12px;
    margin-right: 35px;
    line-height: 16px;
}


.blockCountries{
    position: relative;
    right: 20px;
    top: 98px;
}


.contries{
    color: #128aa7;
    font-size: 10px;
    position: absolute;
    padding-top: 44px;
    display: block;
    width: 55px;
    text-align: center;
}

.maldives{
    background: url(../img/m_flag.png) no-repeat;
    background-position: top center;
    right: 8px;
}

.sri_lanka{
    background: url(../img/s_flag.png) no-repeat;
    background-position: top center;
    right: 66px;
}

.butane{
    background: url(../img/b_flag.png) no-repeat;
    background-position: top center;
    right: 121px;
}

.tibet{
    background: url(../img/t_flag.png) no-repeat;
    background-position: top center;
    right: 177px;
}

.nepal{
    background: url(../img/n_flag.png) no-repeat;
    background-position: top center;
    right: 233px;
}

.india{
    background: url(../img/i_flag.png) no-repeat;
    background-position: top center;
    right: 290px;
}

.main_image img{
    border-top: 1px solid #128aa7;
    border-bottom: 1px solid #128aa7;
    margin-top: -6px;
}

.menu{
    background: #343434;
    color: #fff;
    margin-top: -2px;
    border-bottom: 1px solid #000;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
}

.menu a{
    color: #fff;
    text-decoration: none;
}

.menu li{
    display: inline-block;
    padding-left: 63px;
    font-size: 14px;
    position: relative;
    line-height: 28px;
}

.menu li:hover ul{
    display: block;
}

.sub-menu{
    display: none;
    width: 150px;
    position: absolute;
    left: 53px;
    top: 29px;
    background: #343434;
    -webkit-box-shadow: 0px 5px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 3px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 3px 1px rgba(0,0,0,0.75);  
}

.sub-menu li{
    padding-left: 10px;
    width: 140px;
    display: block;
}

.sub-menu a{
    line-height:  24px;
    display: block;
}

.triangle{
    width: 0px;
    height: 0px;
    position: absolute;
    top: 12px;
    right: -12px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 7px solid #fff;
}
    
.leftColumn{
    width: 21%;
    height: 10000px;
    background: #edeef0;
    border-right: 1px solid #c7cacf;
    border-left: 1px solid #c7cacf;
    float: left;
    }

.centerColumn{
    height: 10000px;
    float: left;
}

.rightColumn{
    width: 21%;
    height: 10000px;
    background: #edeef0;
    border-right: 1px solid #c7cacf;
    border-left: 1px solid #c7cacf;
    float: right;
    }

.h2Column{
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
}

.leftColumnContent{
    font-size: 14px;
    text-align: center;
    line-height: 22px;
}

.footerText{
    position: relative;
    bottom: 8px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-size: 12px;
    color: #fff;
}

